.site-container{
    margin-left:auto;
    margin-right:auto;
    width:1440px;
    height:1884px;
    font-family: 'Raleway', sans-serif;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    
  }
  
  nav
  {
  width:1200px;
  text-align: right;
  float: right;
  vertical-align:top;
  }
  nav ul
  {
    list-style-type: none;
    
  }
  
  nav li
  {
    display: inline-block;
    margin-right: 10px;
  
  }
  
  header
  {
   display:inline-block;
    width:1300px;
   }
  
  #logo
  {
   display:inline-block;
    width:100px;
    vertical-align:top;
    padding-top: 40px;
    
  }
    
  
  img{
      width: 90%;
      height:auto;
      object-fit: cover;
  }
  nav ul li a {
  
    display:inline-block;
   
    padding: 20px;
      
    color:black;
    
    text-decoration: none;
    
    
     
    }
    
    nav a:hover{
    
    border-top:solid 2px #0065FC;
    color:#0065FC;
    
    }
   /* Styles pour tous les liens du menu */
  ul a {
    
    color: #666;
   }
  
  
  
  /* Styles pour le bouton s'inscrire */
  .cta{
  color:#0065FC;
  font-weight:bolder;
  }
  
  h1 {
  font-size:22px;
  font-weight:900;
  color:black;
  
  }
  p{
  font-size: 16px;
  font-weight: 300;
  }
  /* Styles pour le formulaire de recherche */   
  #submit-button{
    background-color:#0065FC;
    color:white;
   border-radius: 0px 10px 10px 0px;
    border:0px;
   padding:10px;
   width: 140px;
   
  }
  #search{
    padding:10px;
    outline:none;
    width: 251px;
    text-align: center;
    font-weight:900;
    color: black;
    opacity: 1;
    background-color:white;
    border-radius: 10px 0px 0px 10px;
    border:2px solid #F2F2F2;
    
    
  }
  #searchbar{
    display:flex;
    justify-content:row;
  }
    
  
  
  form span i{
      position:absolute;
      font-size: 16px;
      color:black;
      left: 225px;
    
      
      
      
      
  
  }
  
  span i {
    background-color:#F2F2F2;
    border: 1px solid #F2F2F2;
    padding-bottom:14px;
    padding-right: 25px;
    padding-top: 10px;
    padding-left:15px;
    border-radius: 10px 0px 0px 10px;
    
    
  
    }
    ::placeholder {
      color: black;
      font-weight:bold;
      font-size:16px;
          
    }
    #options-filtres
    {
    display: flex;
    width:935px;
    justify-content:space-between;
    align-items:baseline;
    padding-top:20px;
    }
    
    .champ1,.champ2,.champ3,.champ4{
    font-size:16px;
    font-weight:bold;
    border-radius:25px ;
    height:40px;
    padding-left:60px;
    border: 3px solid #F2F2F2;
    background-color:white;
    padding-right:20px;
         
    }
    
    
    #economique,#familial,#romantique,#animaux {
    display:flex;
    align-items:baseline;
    
     
    }
    #fas-fa-money-bill-wave
    {
    color:#0065FC;
    left:317px;
    position :absolute;
    padding-top:10px;
    border: 1px solid #DEEBFF;
    padding-bottom:10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-left:10px;
    border-radius: 25px 25px 25px 25px;
    background-color:#DEEBFF;
    
    }
  
  #filtres p
  {
  font-size:16px;
  font-weight:bold;
      
  }
  
  #fas-fa-child{
  color:#0065FC;
  left:535px;
  position:absolute;
  padding-top:10px;
  border: 1px solid #DEEBFF;
  padding-bottom:10px;
  padding-right: 15px;
  padding-top: 10px;
  padding-left:15px;
  border-radius: 25px 25px 25px 25px;
  background-color:#DEEBFF;
    
    
    
  }
  
  #fas-fa-heart{
  color:#0065FC;
  left:720px;
  position:absolute;
  padding-top:10px;
  border: 1px solid #DEEBFF;
  padding-bottom:10px;
  padding-right: 12px;
  padding-top: 10px;
  padding-left:12px;
  border-radius: 25px 25px 25px 25px;
  background-color:#DEEBFF;
      
  }
    
  #fas-fa-dog{
  color:#0065FC;
  left:935px;
  position:absolute;
  padding-top:10px;
  border: 1px solid #DEEBFF;
  padding-bottom:10px;
  padding-right: 12px;
  padding-top: 10px;
  padding-left:12px;
  border-radius: 25px 25px 25px 25px;
  background-color:#DEEBFF;
      
  }  
         
  input.champ1:hover,.champ2:hover,.champ3:hover,.champ4:hover {
   outline:none;
    color:#0065FC;
  }
    
    #infos
    {
    display: flex;
    width:450px;
    justify-content:space-around;
    align-items:baseline;
    padding-top:10px;
    
    }
  
  #fas-fa-info{
  color:#0065FC;
   
  
  
  }
         
   #fas-fa-info i{ 
   font-size:12px;
    width: 10px;
  
  
  padding-top:10px;
  border: 1px solid #DEEBFF;
  padding-bottom:5px;
  padding-right:5px;
  padding-top: 5px;
  padding-left:10px;
  border-radius: 25px 25px 25px 25px;
  }
  
  /* Styles pour le bloc hébergements */
  #bloc-hebergements {
    margin-top:20px;
    background-color:#F2F2F2;
    width:840px;
    height:700px;
    padding:20px;
    border-radius:25px;
  }
  article{
    width:242px;
    height:200px;
    background-color:white;
    padding-top:5px;
    padding-bottom:5px;
    display:flex;
    flex-direction:column;
    border-radius:10px 10px 25px 25px; 
    margin-bottom:20px;
    box-shadow: 3px 3px 3px #DEEBFF;
    opacity:1;
   
  }
  
  .vignette-hotel {
  text-align:center;
  border-radius:10px 10px 0px 0px;
  }
  
  .vignette-hotel img{
  border-radius: 10px 10px 0px 0px;
  width:233px;
  height:110px;
  }
  
  #bloc-hebergements{
    display:flex;
   flex-direction:row;
    flex-wrap:wrap;
    justify-content:space-around;
  }
  #bloc-hebergements h2 {
    float:left;
    width:750px;
  }
  
  .note-bas-section {
   float:left;
    width:750px;
    font-weight:bolder;
  }
  .contenu-article-hebergements{
  margin-left:10px;
  padding-bottom:5px;
   
   
  }
   
  .excerpt-article-hebergements{
    font-size:14px;
    line-height:1px;
  }
  
  .titre-article-hebergements{
    font-size:16px;
    font-weight:bolder;
    line-height:1px;
  }
  
  /* Styles pour la notation des hôtels */   
  
  #fas-fa-star i{
    line-height:1px;
    font-size:16px
    
        
   }
  
  .fa-star {
    color:#e9e9e9;
    
    
    
    
    
  }
  
  #fas-fa-star {
  display:flex;
  
    
  
    
  }
  
  .checked {
    color:#0065FC;
   
  }
  
  /* Styles pour le bloc de contenu "les plus populaires" */ 
  
  #bloc-les-plus-populaires {
    margin-top:20px;
    background-color:#F2F2F2;
    width:350px;
    height:700px;
    padding:20px;
    border-radius:25px;
    display:flex;
    justify-content:space-evenly;
  }
  
  #partie-hotels{
    width:1300px;
    
    display:flex;
    flex-direction:row;
    justify-content:space-between;
  }
  
  #bloc-les-plus-populaires{
    display:flex;
    align-items:center;
    flex-direction:column;
  }
  
  .vignette-hotel-populaire img{
  border-radius:10px 0px 0px 10px;
  width:140px;
  height:140px;
  
    
  }
  
  #bloc-les-plus-populaires article{
    width:340px;
    height:140px;
    background-color:white;
    padding-top:5px;
    padding-bottom:5px;
    display:flex;
    flex-direction:row;
    border-radius:20px 10px 10px 20px; 
    margin-bottom:20px;
    box-shadow: 3px 3px 3px #DEEBFF;
    opacity:1;
    
    justify-content:space-around;
  
  }
  
  #rating-hotel-populaire i {
    line-height:7em;
  }
  
  /* Styles pour le bloc de contenu "activités à Marseille" */ 
  
  #partie-activites{
    width:1300px;
    display:flex;
    height:700px;
    
  }
  
  #bloc-activites{
    background-color:white;
    display:flex;
   flex-direction:row;
    flex-wrap:wrap;
    justify-content:space-between;
    width:1300px;
  }
    
   #bloc-activites h2 {
    float:left;
    width:1300px; 
      
    
  }
  
  .vignette-activites-vertical img{
  border-radius:10px 10px 0px 0px;
  width:300px;
  height:390px;
  
  }
  
  .activites-vertical{
  width:300px;
  height:420px;
  border-radius:10px 10px 10px 10px;
  }
  
  #column{
    display:flex;
    flex-direction:column;
  }
  
  
    
    
  #bas-de-page {
    display:flex;
   justify-content:space-around;
    flex-direction:row;
    width:1300px;
    flex-wrap:wrap;
    justify-content:space-around;
    background-color:#F2F2F2;
     margin-top:20px;
   
    height:200px;
    padding:50px;
    border-radius:25px;
  }
  
  .footer-links{
    list-style-type: none;
    text-decoration:none;
  }